a:hover{
    color: rgb(197, 191, 191);
}
.logo1{
    width: 160px;
    height: 160px;
    position: relative;
    top: 30px;
    left: 43%;
}
#menu{
    background-color:rgb(233, 50, 105) ;
    margin-top: 65px;
    font-weight: bold;
}

.dua:hover{
    color: rgb(197, 191, 191);
}
#tiga{
    margin-left: 90px;
}
/* home */
#sepuluh{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    float: left;
    position: relative;
    top: 90px;
    padding: 10px;
    margin-left: 50px;
    width: 1000px;
}
.sebelas{
    width:200px;
    height: 200px;
    padding: 2px;
    top: 120px;
    border: 1px solid white;
    border-radius: 30px;
}
/*About X2*/
#about2{
    margin-left: 200px;
    margin-top: 100px;
}
#about3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    right: 250px;
    top: 100px;
    font-size: 18px;
    word-spacing: 5px;
}
#about4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    position: relative;
    word-spacing: 5px;
    top: 150px;
}
#tech{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 210px;
    top: 200px;
}
#about5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    position: relative;
    word-spacing: 5px;
    top: 250px;
}

/* Blog X2 */

/*biodata*/
#nama{
    color: white;
    background-color: rgb(233, 50, 105);
    padding: 10px;
    margin: 30px;
}
/* Contact Us */
#contact{
    color: rgb(233, 50, 105);
}
